CLIENT_URL=
SESSION_SECRET=
DATABASE_URL=
PORT=3000
TELEGRAM_ADMIN_BOT_TOKEN=
TELEGRAM_STORE_BOT_TOKEN=
TELEGRAM_ADMIN_CHAT_ID=
TELEGRAM_ADMIN_WEBHOOK_SECRET=
PUBLIC_API_BASE_URL=
MERSAL_API_KEY=
MERSAL_API_URL=
